<h1>Listing des Tiny Houses</h1>

<ul>
  <% @houses.each do |house| %>
    <li>
      <%= link_to house.title, house_path(house) %>
      - <%= house.description %>
      - <%= number_to_currency(house.price) %>
    </li>
  <% end %>
</ul>

