<!-- app/views/houses/show.html.erb -->
<div class="container">
  <div class="house-details">
    <% if @house.image.attached? %>
      <%= image_tag(@house.image, alt: @house.title, style: "width: 100%; max-height: 400px; object-fit: cover;") %>
    <% else %>
      <!-- Option pour afficher une image par défaut si aucune image n'est attachée -->
      <img src="lien_vers_image_par_defaut" alt="Image par défaut" style="width: 100%; max-height: 400px; object-fit: cover;">
    <% end %>
    <h1><%= @house.title %></h1>
    <p><%= @house.description %></p>
    <p class="house-card-price"><%= number_to_currency(@house.price) %></p>
    <!-- Ajoutez plus de détails ici, comme une carte ou des avis -->
  </div>
</div>
