<h1>Admin Dashboard</h1>

<div class="stats">
  <div class="total-users">
    <h2>Total Users</h2>
    <p><%= @total_users %></p>
  </div>
  <div class="total-houses">
    <h2>Total Houses</h2>
    <p><%= @total_houses %></p>
  </div>
  <div class="average-price">
    <h2>Average Price of Houses</h2>
    <p>$<%= @average_price %></p>
  </div>
</div>
